
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/196888894-cartões-de-papel-com-pontos-de-interrogação-no-fundo-amarelo-closeup-transformed.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #080808;
}

.TodoCodigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: auto; 
}

.left {
    
    margin-right: 100px; /* Ajusta a margem direita */
            padding: 50px; /* Adiciona algum espaço interno */
            display: flex;
            flex-direction: column; /* Altera o layout para coluna */
           
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Altera o layout para coluna */
}

.info label {
    margin-bottom: 5px; /* Adiciona espaço abaixo do label */

}

.info input {
    
    margin-bottom: 10px; /* Adiciona espaço abaixo do input */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.info button {
    margin-left: 10px;
    margin-top: 10px; /* Adiciona espaço acima do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.descricao {
    max-width: 400px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px; 
}

#TituloDescricao {
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Adiciona algum espaçamento */
}

.descricao p {
    text-align: justify; /* Alinha o texto justificado */
    margin: 0; /* Remove as margens padrão */
}

